<% if flash.any? %>
  <div class="flash-messages">
    <% flash.each do |type, message| %>
      <div class="flash flash-<%= type %>" data-controller="flash" data-action="click->flash#dismiss">
        <%= message %>
        <button type="button" class="flash-close" aria-label="Cerrar">×</button>
      </div>
    <% end %>
  </div>
<% end %>
